@use '../styles/global' as g;

$btnSec: #494949;
$btnHighlight: red;

.bg {
    height: 100%;
    width: 100%;
    @include g.dFlex();
    background-color: g.$startBg;
    background-image: url('/assets/img/start_screen/cards.jpg');
    background-position: center;
    background-size: cover;
}


// button {
//     background-color: gold;
//     font-size: 2rem;
//     padding: 0.4rem;
//     border-color: $btnSec;
//     color: $btnSec;
//     border-radius: 12px;
//     border-style: solid;
//     width: 28vw;
//     min-width: 240px;
//     aspect-ratio: 16/4;
//     cursor: pointer;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

//     &:hover {
//         filter: brightness(1.2);
//         color: $btnHighlight;
//         border-color: $btnHighlight;
//     }
// }