@use '../styles/global' as g;

.player-sidebar {
    position: absolute;
    @include g.dFlex($gap: 40px, $ai: start);
    flex-direction: column;
    top: 25%;
    right: 20px;
}

.player-container {
    @include g.dFlex();
    color: white;
}

.player-active {
    scale: 1.2;
    background-color: rgba(240, 255, 255, 0.16);
}


.chip {
    background-color: white;
}