<div class="playground">

    @if (game) {
    <app-player [players]="game.players" [currentPlayer]="game.currentPlayer"></app-player>
    }

    <div class="card-stack">
        @for(count of [0, 1, 2, 3]; track count;){
        <img [ngStyle]="{'left': count * 4 + 'px'}" src="assets/img/playing_cards/card_cover.png" alt="">
        }
        <img (click)="checkReadyPickCard()" class="hover-card" [ngStyle]="{'left': 16 + 'px'}"
            src="assets/img/playing_cards/card_cover.png" alt="">

        @for(card of game?.playedCards; track $index) {
        <img class="draw-card" src="assets/img/playing_cards/{{ card }}.png" alt="">
        }

    </div>

    <button mat-fab aria-label="add Player" (click)="openDialog()" class="add-btn">
        <mat-icon>add</mat-icon>
    </button>


    @if (game) {
        <app-game-info [card]="currentCard" [players]="game.players.length" />
    } 

    

</div>